{% extends 'main/base.html' %}



{% block content %}
<div class="text-con">
    <h1 class='tittles'>Активный гражданин</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.Name }} <br>
        {{ form.Date }} <br>
        {{ form.Text }} <br>
        <div class='button'>{{ form.Photo }} *Фото, видео и другие файлы</div><br>
        <button type='submit' class='button'>Отправить</button>
        <span>{{ status }}</span>
        {% csrf_token %}
    </form>
</div>

{% endblock %}