{% extends 'main/base.html' %}



{% block content %}
<div class="text-con">
    <h1>Часто задаваемые вопросы</h1>

    <div class="fq-card">
        <div class="fq">
            <h2>Где я могу оставить заявку на подлючение?</h2>  
        </div>
        <div id='ask' class="ask-hidden">
            <span>Заявку на подключение, вы можете оставить перейдя по этой ссылке, или войдя в раздел
                "Заявка на подключение"
            </span>
        </div>
    </div>

    <div class="fq-card">
        <div class="fq">
            <h2>Где я могу оставить заявку на подлючение?</h2>
           
        </div>
        <div id='ask' class="ask-hidden">
            <span>Заявку на подключение, вы можете оставить перейдя по этой ссылке, или войдя в раздел
                "Заявка на подключение"
            </span>
        </div>
    </div>

    <div class="fq-card">
        <div class="fq">
            <h2>Где я могу оставить заявку на подлючение?</h2>
        </div>
        <div id='ask' class="ask-hidden">
            <span>Заявку на подключение, вы можете оставить перейдя по этой ссылке, или войдя в раздел
                "Заявка на подключение"
            </span>
        </div>
    </div>
</div>


{% endblock %}