{% extends 'about/base.html' %}



{% block content %}





    <section class='about-section'>

        <div class="text-con">
            <h1 class='tittle'>Руководство</h1> <br>
            <section class='card-section'>

                <div class="text-about admin-text">
            
                    {% for admin in admins %}
                    <div class="admin-card">
                        {% if admin.Avatar %}
                        <img src="{{ admin.Avatar.url }}" alt=""> <br>
                        {% endif %}
                        <span>{{ admin.Name }}</span>
                    </div>
                    <br><br><br><br><br>
                    {% endfor %}
                </div>
        </div>
    
    
      
    
        
        <br><br><br><br>
    
    </section>

</section>

<style>
    .new{
        width:100%;
        max-width:300px;
        padding:20px;
        background:whitesmoke;
        border-radius:15px;
    }
    .new a{
        color:black;
        text-decoration:none;
    }
</style>


<style>
    .admin-text {
        display: flex;
        flex-wrap: wrap;
    }

    .admin-card {
        width: 100%;
        max-width: 300px;
        margin: 20px;
        margin: 0 auto;
        height: 450px;
        overflow: hidden;

    }

    .admin-card img {
        display: block;
        margin: 0 auto;
        width: auto;
        height: 80%;
        margin: 0 auto;
    }
</style>

{% endblock %}